* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Roboto;
}
body section {
  width: 1440px;
  height: 520px;
  margin: 0 auto;
}
body section .con-header {
  color: #2b3b48;
  width: 1110px;
  margin: 31px auto 0 auto;
  font-family: Roboto;
  font-size: 28px;
  font-weight: bold;
}
body section .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 42px;
}
body section .content .markets {
  width: 775px;
  height: auto;
  margin-right: 80px;
  display: flex;
}
body section .content .markets .column {
  flex: 50%;
  width: 352px;
}
body section .content .markets .column:first-child {
  margin-right: 75px;
}
body section .content .markets .column .currency {
  display: flex;
  align-items: flex-start;
  padding: 0 0 25px 0;
}
body section .content .markets .column .currency span {
  display: block;
}
body section .content .markets .column .currency .bitmap {
  width: 43px;
  height: 29px;
}
body section .content .markets .column .currency .cur-name {
  margin-left: 15px;
  width: 120px;
}
body section .content .markets .column .currency .cur-buy {
  width: 74px;
  text-align: right;
}
body section .content .markets .column .currency .cur-sell {
  width: 99px;
  text-align: right;
}
body section .content .markets .column .currency .code {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #2b3b48;
}
body section .content .markets .column .currency .name {
  margin-top: 1px;
  font-size: 12px;
  line-height: 2;
  color: #2b3b48;
}
body section .content .markets .column .currency .buy-sell {
  font-size: 12px;
  font-weight: 500;
  color: #4f6477;
}
body section .content .markets .column .currency .cur-value {
  margin-top: 6px;
  font-size: 16px;
  line-height: 1.5;
  color: #2b3b48;
}
body section .content .markets .column .path {
  width: 351px;
  height: 1px;
  color: #bac9d5;
  opacity: 0.3;
  margin-bottom: 29px;
}
body section .content .exchange {
  width: 255px;
  height: 288px;
  padding: 19px 20px 26px 20px;
  background: linear-gradient(154deg, #2b3b48 32%, #8093a5 115%);
}
body section .content .exchange .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  color: #ffffff;
  text-align: center;
  margin-bottom: 27px;
}
body section .content .exchange .input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
body section .content .exchange #curexc {
  width: 129px;
  height: 48px;
  box-sizing: border-box;
  border: none;
  border-right: 1px solid #eaeef2;
  outline: none;
  padding: 15px 0 15px 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #2b3b48;
}
body section .content .exchange #curtype {
  width: 86px;
  height: 48px;
  border: none;
  border-radius: 0;
  background-color: #ffffff;
  border-right: 15px solid #ffffff;
  padding-left: 14px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #2b3b48;
}
body section .content .exchange .excbutton {
  margin: 19px 83px 19px 84px;
}
body section .content .exchange .excresult {
  width: 215px;
  height: 48px;
  background-color: #ffffff;
  position: relative;
  padding: 15px 16px 9px 15px;
  color: #2b3b48;
}
body section .content .exchange .excresult .excvalue {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
body section .content .exchange .excresult .excvalue span {
  float: right;
}
body section .btn-group {
  width: 1110px;
  height: auto;
  margin: 2px auto 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body section .btn-group .buttons {
  width: 780px;
  display: flex;
}
body section .btn-group .buttons .btn-info {
  width: 350px;
  height: 48px;
  margin-right: 75px;
  background-color: #2b3b48;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.94px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
body section .btn-group .buttons .btn-all {
  width: 350px;
  height: 48px;
  color: #2b3b48;
  border: 2px solid #4f6477;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.94px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body section .btn-group .buttons .btn-all .mobile {
  display: none;
}
body section #allcurrency .currency {
  margin-top: 20px;
  width: 350px;
  border-bottom: 1px solid #bac9d5;
}
body section #allcurrency .currency img {
  width: 43px;
  height: 30px;
  background: url("../images/flags/UNKNOWN.png");
  background-position: center;
  background-size: contain;
}
body section #allcurrency .exchange {
  height: 0;
  padding: 0;
}

@media screen and (max-width: 500px) {
  body section {
    width: 375px;
    padding: 9px 15px 27px 12px;
    height: auto;
  }
  body section .con-header {
    color: #2b3b48;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    line-height: 2.45;
    letter-spacing: -0.49px;
    margin-top: 0;
  }
  body section .content {
    margin-top: 0;
    align-items: baseline;
    flex-wrap: wrap;
  }
  body section .content .markets {
    width: 348px;
    margin-right: 0;
    flex-direction: column;
  }
  body section .content .markets .column {
    flex: auto;
    width: 348px;
    margin-top: 16px;
  }
  body section .content .markets .column:first-child {
    margin-right: 0;
    border-bottom: 2px solid #e6ecf0;
    margin-bottom: 10px;
  }
  body section .content .markets .column .path {
    margin-bottom: 20px;
  }
  body section .content .markets .column .currency {
    padding-bottom: 20px;
  }
  body section .content .exchange {
    width: 345px;
    height: auto;
    padding: 21px 24px 24px;
    margin-top: 13px;
    background: linear-gradient(154deg, #2b3b48 32%, #8093a5 115%);
  }
  body section .content .exchange #curexc {
    width: 297px;
    height: 48px;
    box-sizing: border-box;
    border: none;
    border-right: 1px solid #eaeef2;
    outline: none;
    padding: 15px 0 15px 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #2b3b48;
  }
  body section .content .exchange .excbutton {
    margin: 19px 124px 19px 124px;
  }
  body section .content .exchange .excresult {
    width: 297px;
  }
  body section .btn-group {
    width: 100%;
    margin-top: 26px;
    justify-content: center;
  }
  body section .btn-group .buttons {
    width: 100%;
    flex-direction: column;
    gap: 15px;
  }
  body section .btn-group .buttons .btn-info {
    width: 100%;
    margin-right: 0;
  }
  body section .btn-group .buttons .btn-all {
    border: none;
    font-weight: 500;
    letter-spacing: 1;
  }
  body section .btn-group .buttons .btn-all .mobile {
    display: inline-block;
    padding-left: 5px;
  }
}/*# sourceMappingURL=main.css.map */